/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** header ******/
.enTete {
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 61.09px;
    height: 19px;
    padding:30px 50px 30px 50px;
    
}

.menu_de_navi {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

li {
    display: flex;
    list-style-type : none;
    justify-content: space-between;
}

.menu_de_navi div {
    padding : 5px;
    margin: 15px;
}

.menu_de_navi div:hover {
    padding-top : 10px;
    
    color: rgb(118, 161, 226);
    border-top: 2px solid;
    border-top-color: rgb(103, 148, 216) ;
   
}


.liste_navi_1{
    width:113px; 
    height:35px;
}

.liste_navi_2 {
    width:63px; 
    height:35px;
}

/***** info group******/
.info_group{
    display: flex;
    flex-direction: column;
    gap:35px;
    margin-bottom : 30px;

}
.search_bar {
    display: flex;
}
.search_bar button {
    border-radius: 0px 15px 15px 0px;
    border: 1px;
    background-color: 
    #0065FC;
    padding: 15px 16px 15px 16px;
    width: 132px;
    height: 49px;
    color: white;
    font-size: 18px;
    font-weight: 700;
}
.search_bar input {
    width: 250px;
    height: 49px;
}
.search_bar i {
    width: 50px;
    height: 49px;
    border-radius: 15px 0px 0px 15px;
    border: 1px;
    background-color : #F2F2F2;
}
.filter_bar {
    display: flex;
    
}
.filter_bar ul{
    display: flex;
    gap: 10px;

    width: 173px;
    height: 50px;
    
}
.filter_bar ul li {
    list-style: none;
    border: 2px solid;
    border-radius: 25px;
    border-color: #D9D9D9;
    padding: 19px 19px 19px 19px;
    height: 20px;
   font-size:17px;
   font-weight: 700;
   line-height: 19.96px;
   display: flex;
    gap:5px;
    white-space: nowrap; /*permet au texte de ne pas revenir à la ligne*/
}
.filter_bar ul li:hover{
    background-color: #DEEBFF;
}

.filter_bar ul li:nth-child(1){
    width: 173px;
}
.filter_bar ul li:nth-child(2){
    width: 134px;
}
.filter_bar ul li:nth-child(3){
    width: 170px;
}
.filter_bar ul li:nth-child(4){
    width: 167px;
}

.filter_bar p{
    width:54px;
    height: 21px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.13px;
    padding: 15px;
}

.infobar{
    display: flex;
    gap:5px;
}
/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
   
   
}
.column1{
    width: ;
    display: flex;
   
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.carte {
    width: 30.33% ;
    height: 177px;
   
    border-radius : 20px;
    padding: 4px 4px 5px 4px;
/*le secret pour que mmon image suffise comme sur la maquette se trouvait dans le padding
de la carte*/
    
    background-color: #FFFFFF;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
   
}

.carte img {
    width: 100%;
    height:90px ;
    border-top-left-radius:20px ;
    border-top-right-radius: 20px;
    /*object-fit: fill;*/
    object-fit: cover;
}
.carte-content{
    width: 250.33px;
    height: 64.25;
    padding: 0px 15px 0px 15px;
}

.carte-titre{
font-size: 16px;
font-weight: 700;
line-height: 18.78px;
width: 55%;
height: 19px;
margin-top: 5px;
margin-bottom: 5px;
white-space: nowrap;
}

.carte-sous-titre {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.44px;
    margin-bottom: 5px;
    margin-top: 10px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}
/****** Activités à marseille ***********/
.section-activites {
    height: 559.02px;
    padding: 30px;
    
}
.section-activites h2 {
    height: 30.02px;
    font-weight: 700;
    font-size: 22px;
    line-height: 25.83px;
}
.activites{
    display: flex;
    flex-wrap: wrap;
}

.carte-activites{
    width: 297.5px;
    height: 439px;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}
.carte-activites img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    /****** Hebergements ***********/
.hebergements {
    width: 999px;
}
.column1{
    display: grid;
    grid-template-columns: 250px 250px 250px;
    gap: 15px;
}
.hebergements h2 {
    width: 864px;
    height: 26px;
    font-size: 22px;
    font-weight: 700;
}

.carte {
    width: 100% ;
    height: 207.25px;
   
    border-radius : 20px 20px 20px 20px;
    padding: 0px 0px 15px 0px;
    background-color: #FFFFFF;
    margin-right: 0px;
}

.carte img {
    width: 90%;
    height:124px ; 
    border-radius:20px 20px 0px 0px ;
    border: 5px;
    background-color: #FFFFFF;
} 

.carte-content{
    width: 268px;
    height: 64.25;
    padding: 0px 15px 0px 15px;
}

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}